@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root{
    --main-blue-color:#1b7dff;
    --main-white-color:#ffffff;
    --black-one-color:#102746;
    --dark-blue-grey:#0e1d28;
    --bright-blue-color:#006dfe;
}

*::before, *::after, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: 1222px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

/* button mix  */
.btn{
    color: var(--main-white-color);
    font-size: 16px;
    background-color: var(--bright-blue-color);
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.btn--sm{
    padding:11px 19px;
}
.btn--lg{
    padding: 15px 39px;
}

.btn:hover{
    background-color: #1665cc;
    box-shadow: 5px 9px black;
}

/* body text */

.body-text{
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
}

/* heading */

.heading--lg{
    font-size: 50px;
    font-weight: 500;
}

.heading--md{
    font-size: 35px;
    font-weight: 500;
}

.heading--sm{
    font-size: 30px;
    font-weight: 500;
}

/* utility classes */

.desktop-hide{
    display: none;
}

.clear-fix::after{
    content:'';
    clear: both;
    display: table;
}

/* link */

.link{
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.link:hover{
    color: var(--main-blue-color);
}

/* header */

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    min-height: 70px;
    padding-top: 56px;
}

.nav{
    font-size: 0;
    color: white;
}

.nav__item{
    /* display: inline-block; */
    width: 50%;
    float: left;
    list-style: none;
    text-align: right;
}

.nav__item:first-child{
    text-align: left;
}

.nav_items{
    margin-right: min(calc(50%/5),80px);
    margin-right: 80px;
}

.nav__items:last-child{
    margin: 0;
}

.nav__item li{
    display: inline-block;
    font-size: 18px;
}

.icon-odigo-logo{
    height: 31px;
    width: 82px;
}

.icon-menu{
    color: white;
    height: 30px;
    width: 30px;
    fill: var(--main-white-color);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.icon-menu:hover{
    fill: var(--main-blue-color);
}

/* mobile nav start*/
.overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0,0.95);
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay__closeBtn{
    color: var(--main-white-color);
    font-size: 50px;
    text-align: right;
    padding-right: 20px;
    padding-top: 40px;
}

.overlay__nav{
    text-align: center;
    list-style: none;
    line-height: 2.5;
    font-size: 20px;
    margin-top: 40%;
}


/* hero */

.hero{
    background: url(../assets/img/hero-background.jpeg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 263px;
}

.hero__content{
    color: white;
}

.hero__heading{
    max-width: 619px;
}

.hero__body{
    max-width: 546px;
    margin-top: 20px;
}

/* form */

.form{
    margin-top: 60px;
}

.form__input{
    width: 300px;
    padding: 28px 22px 20px 36px;
    background-color: transparent;
    border: none;
    color: var(--main-white-color);
    border-bottom: 1px solid var(--main-white-color);
    font-size: 18px;
}

.form__input::placeholder{
    color: var(--main-white-color);
    opacity: 1;
}

.form__input:focus{
    outline: none;
    outline-width: 0;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
}

.input_container{
    position: relative;
    display: inline-block;
    margin-right: 60px;
    /* margin-right: min(5%,60px); */
}


/* footer */

.footer{
    background-color: var(--dark-blue-grey);
    color: var(--main-white-color);
}

@media only screen and (max-width: 1400px){
    .nav_items{
        margin-right: 10%;
    }

    /* form start */
    .input_container{
        margin-right: 3%;
    }
    .form__btn{
        margin-top: 20px;
    }
    /* form end */
}

@media only screen and (max-width: 800px) {
    /* nav start */
    .mobile-hide{
        display: none;
    }

    .desktop-hide{
        display: inline-block;
    }
    /* nav end */

    /* hero start */
    .hero{
        padding-top: 140px;
    }

        /* form start */
        .input_container{
            display: block;
        }

        .form{
            margin-top: 30px;
        }
        /* form end */
    
    /* hero end */
}