@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root{
    --main-blue-color:#1b7dff;
    --main-white-color:#ffffff;
    --black-one-color:#102746;
    --dark-blue-grey:#0e1d28;
    --bright-blue-color:#006dfe;
}

*::before, *::after, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
    max-width: 1222px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

/* button mix  */
.btn{
    color: var(--main-white-color);
    font-size: 16px;
    background-color: var(--bright-blue-color);
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: inline-block;
}
.btn--sm{
    padding:11px 19px;
}
.btn--lg{
    padding: 15px 39px;
}

.btn:hover{
    background-color: #1665cc;
    box-shadow: 5px 9px black;
}

/* body text */

.body-text{
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
}

/* heading */

.heading--lg{
    font-size: 50px;
    font-weight: 500;
}

.heading--md{
    font-size: 35px;
    font-weight: 500;
}

.heading--sm{
    font-size: 30px;
    font-weight: 500;
}

.heading--underline{
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
}

.heading--underline::after{
    content: "";
    position: absolute;
    width: 65%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #006dfe;
}


/* link */

.link{
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.link:hover{
    color: var(--main-blue-color);
}

/* header */

.header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 70px;
    padding-top: 56px;
}

.nav{
    font-size: 0;
    color: white;
}

.nav__item{
    /* display: inline-block; */
    width: 50%;
    float: left;
    list-style: none;
    text-align: right;
}

.nav__item:first-child{
    text-align: left;
}

.nav_items{
    margin-right: min(calc(50%/5),80px);
    margin-right: 80px;
}

.nav__items:last-child{
    margin: 0;
}

.nav__item li{
    display: inline-block;
    font-size: 18px;
}

.header__icon{
    height: 31px;
    width: 82px;
}

.icon-menu{
    color: white;
    height: 30px;
    width: 30px;
    fill: var(--main-white-color);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.icon-menu:hover{
    fill: var(--main-blue-color);
}

/* mobile nav start*/
.overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0,0.95);
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay__closeBtn{
    color: var(--main-white-color);
    font-size: 50px;
    text-align: right;
    padding-right: 20px;
    padding-top: 40px;
}

.overlay__nav{
    text-align: center;
    list-style: none;
    line-height: 2.5;
    font-size: 20px;
    margin-top: 30%;
}


/* hero */

.hero{
    background: url(../assets/img/hero-background.jpeg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 263px;
}

.hero__content{
    color: white;
}

.hero__heading{
    max-width: 619px;
}

.hero__body{
    max-width: 546px;
    margin-top: 20px;
}

/* form */

.form{
    margin-top: 60px;
}

.form__input{
    width: 300px;
    padding: 28px 22px 20px 36px;
    background-color: transparent;
    border: none;
    color: var(--main-white-color);
    border-bottom: 1px solid var(--main-white-color);
    font-size: 18px;
}

.form__input::placeholder{
    color: var(--main-white-color);
    opacity: 1;
}

.form__input:focus{
    outline: none;
    outline-width: 0;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
}

.input_container{
    position: relative;
    display: inline-block;
    margin-right: 60px;
    /* margin-right: min(5%,60px); */
}

/* features */

.features__container{
    box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
    display: block;
    margin-top: -130px;
    background-color: #ffffff;
    padding-top: 40px;
    padding-bottom: 93px;
    font-size: 0;
    border-radius: 10px;
    width: 90%;
}

.features__container .heading--md{
    margin-bottom: 100px;
}

.feature{
    display: inline-block;
    margin: 0px 70px 0px 0px;
    width: calc((100% - 140px)/3);
    vertical-align: top;
}

.feature:last-child{
    margin: 0;
}

.feature__icon{
    width: 66px;
    height: 66px;
    margin-bottom: 37px;
}

.feature__heading{
    font-weight:600 ;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.feature__body{
    max-width: 300px;
}



/* grid and twoCol */

.gridTwoCol{
    padding: 120px 0px 0px 0px;
}

.grid{
    margin: 50px 0px 0px 0px;
    font-size: 0;
    text-align: center;
 }

.grid__big{
    width: calc((100% - 10px)/2);
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

.grid__big:nth-child(2){
    margin-right: 0px;
}

.grid__small{
    width: calc((100% - 20px)/3);
    margin: 10px 10px 0px 0px;
    position: relative;
    display: inline-block;
}

.grid img{
    cursor: pointer;
    filter: brightness(50%);
    transition: all 0.3s ease 0s;
}

.grid img:hover{
    filter: brightness(70%);
}

.grid__bodyText{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}

.grid__small:nth-child(5){
    margin-right: 0px;
}


.twoCol{
    margin-top: 110px;
    font-size: 0;
}


.twoCol__left{
    display: inline-block;
    max-width: 567px;
    width: calc((100% - 108px) / 2);
    vertical-align: top;
}

.twoCol__right{
    display: inline-block;
    width: calc((100% - 108px) / 2);
    vertical-align: top;
    margin: 0px 0px 0px 108px;
}

.twoCol__heading{
    margin: 26px 0px 0px 0px;
    max-width: 330px;
}

.twoCol__bodyText{
    margin: 45px 0px 0px 0px;
}

.twoCol__link{
    color: var(--bright-blue-color);
    display: inline-block;
    margin: 60px 0px 0px 0px;
    font-size: 16px;
    fill: var(--bright-blue-color);
}

.twoCol__link:hover{
    box-shadow: 0px 5px 0px 0px;
    color: #020ebb;
    fill: #0b02bb;
}

.arrow-icon{
    width: 1em;
    height: 1em;
    margin-left: 1em;
    display: inline-block;
    vertical-align: middle;
}

.twoCol-hide{
    display: none;
}

/* gallery */

.gallery{
    background-color: var(--main-white-color);
    padding: 100px 0px;
}

.gallery__item{
    display: inline-block;
    max-width: 386px;
    width: calc((100% - 100px) / 3);
    min-width: 280px;
    margin-top: 64px;
    margin-right: 50px;
    text-align: left;
}

.container .gallery__item:nth-child(3n+0){
    margin-right: 0;
}

.gallery__heading{

}

.gallery__imgCon{
    position: relative;
    max-width: 386px;
    /* width: 386px; */
    font-size: 0;
}

.gallery__imgOverlay{
    position: absolute;
    bottom: 0;
    color: var(--main-white-color);
    background-color: rgb(0,0,0,0.7);
    width: 100%;
    font-size: 0;
}

.gallery__imgCon{
    transition: .3s ease-in-out;
    transform: scale(1);
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.gallery__imgCon:hover{
    transform: scale(1.1);
}

.gallery-icon{
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    fill: white;
    color: white;
}

.imgOverlay__left{
    display: inline-block;
    width: 50%;
    font-size: 16px;
    line-height: 2;
    padding-left: 25px;
    vertical-align: middle;
}

.imgOverlay__right{
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-align: right;
    line-height: 2;
    padding-right: 25px;
    vertical-align: middle;
}

.gallery__body{
    margin: 45px 0px 0px 0px;
}

.gallery__btn{
    margin: 30px 0px 0px 0px;
}


/* video */
.video{
    /* max-height: 609px; */
    max-width: 1400px;
    margin: auto;
    font-size: 0;
    position: relative;
}

.video__icon{
    fill: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 112px;
    height: auto;
}

/* footer */

.footer{
    background-color: var(--dark-blue-grey);
    color: var(--main-white-color);
    padding: 120px 0px;
}


.footer__icon{
    width: 200px;
    height: auto;
}

.footer__list{
    width: calc(100% / 3);
    display: inline-block;
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    vertical-align: top;
}

/* utility classes */

.desktop-hide{
    display: none;
}

.clear-fix::after{
    content:'';
    clear: both;
    display: table;
}

.column{
    float: left;
    width: 50%;
}

.font-reset{
    font-size: 0;
}

.bold-text{
    font-weight: 700;
}

.img-fluid{
    width: 100%;
    height: auto;
}

.margin-left-20{
    margin-left: 20px;
}
@media only screen and (max-width: 1400px){
    .nav_items{
        margin-right: 10%;
    }

    /* form start */
    .input_container{
        margin-right: 3%;
    }
    .form__btn{
        margin-top: 20px;
    }
    /* form end */



    /* video start */
    .video__icon{
        width: 74px;
    }
    /* video end */
}

@media only screen and (max-width: 979px) {

    /* hero start */
    .hero{
        padding-top: 140px;
    }

        /* form start */
        .input_container{
            display: block;
        }

        .form{
            margin-top: 30px;
        }
        /* form end */
    
    /* hero end */


    /* features */
    .features__container{
        margin-top: -60px;
        padding-top: 40px;
        padding-bottom: 93px;
        max-width: 90%;
    }
    .feature{
        width: calc((100% - 140px)/2);;
        margin-bottom: 40px;
        /* margin: 0px 0px 30px 0px; */
    }
    .feature:last-child{
        margin: 0px 0px 30px 0px;
    }

    /* TwoCol start */
    .twoCol__left{
        display: block;
        width: 100%;
        margin: auto;
    }
    .twoCol__right{
        display: block;
        width: 100%;
        margin: auto;
        max-width: 567px;
        /* margin-left: 0; */
    }
    .twoCol__heading{
        max-width: 100%;
    }
    /* TwoCol end */


    /* gallery start */
    .gallery__items{
        text-align: center;
    }
    .container .gallery__item:nth-child(3n+0){
        margin-right: 50px;
    }
    .container .gallery__item:nth-child(2n+0){
        margin-right: 0px;
    }
    /* gallery stop */

    /* video start */
    .video__icon{
        width: 56px;
    }
    /* video end */

    /* footer start */
    .footer{
        padding: 60px 0px;
    }
    .column{
        float: none;
        width: 100%;
        display: block;
        text-align: center;
    }
    .footer__icon{
        width: 150px;
    }
    /* footer end */

    /* nav start */
    .mobile-hide{
        display: none;
    }

    .desktop-hide{
        display: inline-block;
    }
    /* nav end */
}


@media only screen and (max-width: 450px) {

    .heading--lg{
        font-size: 40px;
    }
    /* features */
    .features__container{
        margin-top: -60px;
        padding-top: 40px;
        padding-bottom: 93px;
        max-width: 90%;
    }
    .feature{
        display: block;
        width: fit-content;
        margin: 0px auto 30px auto;
    }
    .feature:last-child{
        margin: auto;
    }

    /* grid */
    .grid__big{
        width: 100%;
        margin: 10px 0px 0px 0px;
        display: block;
    }

    .grid__big:nth-child(2){
        margin-right: 0px;
    }

    .grid__small{
        width: 100%;
        margin: 10px 0px 0px 0px;
        display: block;
    }

    /* gallery */
    .gallery__item{
        margin-right:0;
        width: 100%;
    }
    .container .gallery__item:nth-child(3n+0){
        margin-right: 0px;
    }

}

@media only screen and (max-width: 375px)  {
    
    .features__container{
        margin-top: 30px;
    }
}

